Sporting.MatchOverview/Sporting.MatchOverview.Android/obj/
Sporting.MatchOverview/Sporting.MatchOverview.Android/bin/
Sporting.MatchOverview/Sporting.MatchOverview.Android/Properties/
Sporting.MatchOverview/Sporting.MatchOverview.iOS/obj/
Sporting.MatchOverview/Sporting.MatchOverview.iOS/bin/
Sporting.MatchOverview/Sporting.MatchOverview.iOS/Properties//
.vs/
